@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.disclosure-panel {
  position: relative;
  z-index: 10; /* Ensure it's above other elements */
}

html, body {
  @apply bg-black text-white; /* Background and text styles */
  min-height: 100%; /* Cover full viewport height */
  height: auto; /* Grow based on content */
  margin: 0;
  padding: 0;
}

#root, #app {
  height: 100%; /* Ensure root container spans the viewport */
}

